<div class="content" role="main">
  <h1>Cadastro de clientes</h1>
  
  <h2>Listagem de clientes</h2>
  <div class="row">
    <div *ngFor="let cliente of listacliente">
      {{cliente.nome}} | {{cliente.cpf}} | {{cliente.cep}} | 
      <a routerLink="/cadastro-cliente/{{cliente.id}}">Edita</a> | 
      <a (click)="deletaCliente(cliente.id);">Exclui</a>
    </div>
  </div>

  <button type="button" routerLink="/cadastro-cliente">
    Abrir novo cadastro
  </button>
</div>

<router-outlet></router-outlet>
