<div id="corpo" class="container py-3">
    <h1 class="display-5 text-center">{{titulo}}</h1>

    <form method="post" [formGroup]="perfilCliente" (ngSubmit)="onSubmit()">

        <div class="mb-3 row justify-content-center">
            <label for="nome" class="col-sm-2 col-form-label">Nome:</label>
            <div class="col-sm-4">
                <input id="nome" type="text" name="nome-cliente" formControlName="nome" class="form-control">
            </div>
        </div>
    
        <div class="mb-3 row justify-content-center">
            <label for="cpf" class="col-sm-2 col-form-label">CPF</label>
            <div class="col-sm-4">
                <input type="text" id="cpf" name="cpf-cliente" formControlName="cpf" class="form-control">
            </div>
        </div>
    
        <div class="mb-3 row justify-content-center">
            <label for="cep" class="col-sm-2 col-form-label">CEP</label>
            <div class="col-sm-4">
                <input type="text" id="cep" (blur)="buscaCEP()" name="cep-cliente" formControlName="cep" class="form-control">
            </div>
        </div>
    
        <div class="mb-3 row justify-content-center">
            <label for="endereco" class="col-sm-2 col-form-label">Endereço:</label>
            <div class="col-sm-4">
                <input type="text" id="endereco" name="endereco-cliente" formControlName="endereco" class="form-control">
            </div>
        </div>
    
        <div class="row justify-content-start justify-content-center">
            <button type="submit" [disabled]="!perfilCliente.valid" class="btn btn-primary col-sm-6">Enviar</button>
        </div>

    </form>
</div>
