<h1>{{titulo}}</h1>
<form method="post">
    <div>
        <label for="">Nome:</label>
        <input type="text" name="nome-cliente" [(ngModel)]="cliente.nome">
    </div>
    <div>
        <label for="">CPF</label>
        <input type="text" name="cpf-cliente" [(ngModel)]="cliente.cpf">
    </div>
    <div>
        <label for="">CEP</label>
        <input type="text"  (blur)="validaCEP()" name="cep-cliente" [(ngModel)]="cliente.cep">
    </div> 
    <div>
        <label for="">Endereço:</label>    
        <input type="text"  name="endereco-cliente" [(ngModel)]="cliente.endereco">
    </div>
    <div>
        <button type="submit" (click)="salvar()" >Enviar</button>
    </div>
</form>
