<h1>Cadastrar novo cliente</h1>
<form action="" method="">
    <div>
        <label for="">Nome:</label>
        <input type="text" ngControl="">
    </div>
    <div>
        <label for="">CPF</label>
        <input type="text">
    </div>
    <div>
        <label for="">CEP</label>
        <input type="text">
    </div> 
    <div>
        <label for="">Endereço:</label>    
        <input type="text">
    </div>
    <div>
        <button type="button" (click)="salvar()">Enviar</button>
    </div>
</form>
